

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Parastoo;
  src: url('./fonts/parastoo/web/Parastoo.eot');
  src: url('./fonts/parastoo/web/Parastoo.eot?#iefix') format('embedded-opentype'),
       url('./fonts/parastoo/web/Parastoo.woff2') format('woff2'),
       url('./fonts/parastoo/web/Parastoo.woff') format('woff'),
       url('./fonts/parastoo/web/Parastoo.ttf') format('truetype');
  font-weight: normal;
}


body {
  background: linear-gradient(rgb(20, 20, 20, 0.2), rgba(20, 20, 20, 0.4)),
    url(./Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  
}

body,
button,
input,
textarea,
select {
  font-size: 0.7rem;
  font-family: Parastoo;
  text-align: right;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    height: 95vh;
    width: 90%; 
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4)
    ) !important;
    backdrop-filter: blur(1rem) !important;
    border-radius: 20px !important;
    overflow: hidden !important;    
}

:is(#signup-form, #signin-form) {
    display: flex;
    flex-direction: column;
  }
  
  :is(#signup-form, #signin-form) label {
    margin-top: 1em;
    font-weight: 600;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  :is(#signup-form, #signin-form) input {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px #986fbe solid;
  }
  
  .signup-btn,
  .signin-btn {
    margin-top: 2em;
    padding: 0.8em 2em;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      to bottom right,
      rgba(107, 103, 110, 0.7),
      rgba(107, 103, 110, 0.4)
    );
    font-weight: 600;
    cursor: pointer;
  }
  
  :is(.signup-btn, .signin-btn):hover {
    background: linear-gradient(
      to bottom right,
      rgba(120, 110, 128, 0.7),
      rgba(120, 110, 128, 0.4)
    );
  }
  
  .invalid-feedback {
    color: #7a5b97;
  }
 
 
 
  @media screen and (min-width: 700px) {
    body,
    button,
    input,
    textarea,
    select {
      font-size: 0.9rem;
    }
  
    #container, #container-login {
      width: 50%;
    }
  }
  @media screen and (min-width: 1024px) {
    #container , #container-login{
      height: 90vh;
      width: 30%;
    }
  }
 